<html>
    <head>
        {% load static %}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'landing_page/style.css' %}"/>
    </head>
    <body>
        <div>
            {% block navbar %}
            {% include 'landing_page/navbar.html' %}
            {% endblock %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-9 col-lg-8 col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-12">
                    {% block about %}
                    {% include 'landing_page/about.html' %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
            © {% now "Y" %} Copyright: <a href="{% url 'landing_page:index' %}">lukaszczyz.com</a>
        </footer>
    </body>
</html>