{% extends "landing_page/blank_landing_page.html" %}

{% block content %}
<h2>Privacy Policy</h2>
This Privacy Policy explains how we use and protect any personal information that you provide to us when you use our website and contact form. We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.

<h3>Information we collect</h3>
We may collect the following personal information through our contact form:
<ul>
<li>Name</li>
<li>E-mail address</li>
<li>Any additional information you choose to provide in your message</li>
</ul>

<h3>How we use your information</h3>
We use your personal information to respond to your message.
We will not sell, distribute or lease your personal information to third parties.

<h3>Security</h3>
We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable procedures to safeguard and secure the information we collect online.

<h3>Your rights</h3>
You have the right to access, rectify, erase, and restrict the processing of your personal information. If you would like to exercise any of these rights, please contact us using the contact details provided below.

<h3>Data retention</h3>
We will only retain your personal information for as long as necessary to provide you with the information you have requested.

<h3>Changes to this Privacy Policy</h3>
We may update this Privacy Policy from time to time. Any changes we make will be posted on this page.

<h3>Contact us</h3>
If you have any questions about this Privacy Policy or our use of your personal information, please contact us at gdpr@lukaszczyz.com
{% endblock %}