<div class="container">
    {% for log_entry in log_entries %}
        <div class="card card-body mb-2">
            <div class="row">
                <div class="col">                    
                    <div class="list-item-title">{{log_entry.entry_name}}</div>
                </div>
                <div class="col-auto">
                    <div class="date">Last modified: {{log_entry.date_modified | date:"d.m.Y"}}</div>
                </div>
                <div>{{log_entry.entry_description}}</div>
                <a href="{% url 'logbook:project' log_entry.project|slugify %}#{{log_entry.entry_name | slugify}}" class="stretched-link"></a>
            </div>
        </div>
    {% endfor%}
</div>