{% extends "landing_page/index.html" %}

{% block content %}

{% load static %}

{% load martortags %}
{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

<link rel="stylesheet" href="{% static 'logbook/style.css' %}"/>

<div class='content-title'> {{project.project_name}} </div>
<div class='content-text'>{{project.project_description|safe_markdown}}</div>
<div data-bs-spy="scroll" data-bs-offset="0" tabindex="0">
    {% for log_entry in log_entries %}
    <div class="content-subtitle" id={{log_entry.entry_name | slugify}}>{{log_entry.entry_name}}</div>
    <div class="date">
        Posted: {{log_entry.publish_date | date:"d.m.Y"}}
        <br>
        Last modified: {{log_entry.date_modified | date:"d.m.Y"}}
    </div>
    <div class="content-text">
        {{log_entry.text|safe_markdown}}
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block aux_content %}
    {% if log_entries %}
        <div class="pt-3">
            <nav class="nav navbar-dark flex-column">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="navbar-brand">{{project.project_name}}</a>
                    </li>
                    {% for log_entry in log_entries %}
                        <li class="nav-item">
                            <a href="#{{log_entry.entry_name | slugify}}" class="nav-link">{{log_entry.entry_name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
