{% extends "landing_page/index.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'logbook/style.css' %}"/>

<div class='content-title'> {{project.project_name}} </div>
<div class='content-text'>{{project.project_description}}</div>

{% for log_entry in log_entries %}
<div class="content-subtitle">{{log_entry.entry_name}}</div>
<div class="row">
    <div class="col gx-lg-5">
        <div class="float-right date">Posted: {{log_entry.publish_date | date:"d.m.Y"}}</div>
    </div>
    <div class="col">
        <div class="float-right date">Last modified: {{log_entry.date_modified | date:"d.m.Y"}}</div>
    </div>
</div>
<div class="content-text">
{{log_entry.text}}
</div>
{% endfor %}

{% endblock %}
