{% load static %}
<link rel="stylesheet" href="{% static 'logbook/project_list_style.css' %}"/>

<div class="container">
        {% for project in projects%}
            <div class="card card-body mb-3">
                <div class="row">
                    <div class="col-auto">
                    <img src={{project.image.url}} class="project-thumbnail"/>
                    </div>
                    <div class="col">
                        <div class="project-name"> {{project.project_name}} </div>
                        <div class="project-desc"> {{project.project_description|truncatewords:40}}</div>
                    </div>
                    <a href="{% url 'logbook:project' project.project_name|slugify %}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
</div>