{% load static %}

{% load martortags %}
{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

<link rel="stylesheet" href="{% static 'logbook/style.css' %}"/>

<div class="container">
        {% for project in projects%}
            <div class="card card-body mb-3">
                <div class="row">
                    <div class="col-auto">
                    {% if project.image %} <img src={{project.image.url}} class="project-thumbnail"/> {% endif %}
                    </div>
                    <div class="col">
                        <div class="project-name list-item-title"> {{project.project_name}} </div>
                        <div class="project-desc"> {{project.project_description|safe_markdown|truncatewords:40}}</div>
                    </div>
                    <a href="{% url 'logbook:project' project.project_name|slugify %}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
</div>