body {
    background-color: rgb(49, 49, 49);
    color: rgb(243, 243, 243);
    position: relative;
    padding-bottom: 5em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 32, 32);
    font-size: small;
    text-align: center;
    padding-top: 1.25em;
    padding-bottom: 1em;
}

.about {
    background-color: rgb(59, 59, 59);
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}