.card {
    background-color: rgb(65, 65, 65);
}

.project-thumbnail {
    object-fit: scale-down;
    max-height: 4cm;
    max-width: 4cm;
}

.content-title {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.content-text {
    padding-bottom: 1em;
}
