.card {
    background-color: rgb(65, 65, 65);
}

.project-thumbnail {
    object-fit: scale-down;
    max-height: 4cm;
    max-width: 4cm;
}

.list-item-title {
    font-size: large;
    font-weight: bold;
    padding-bottom: 0.25em;
}

.content-title {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 1em;
    overflow-wrap: break-word;
}

.content-subtitle {
    font-size: x-large;
    font-weight: bold;
    padding-top: 0.5em;
    overflow-wrap: break-word;
}

.content-text {
    padding-top: 1em;
    padding-bottom: 2em;
}

.content-text img {
    max-width: 80%;
    margin: auto;
    display: block;
}

.date {
    color: rgb(173, 173, 173);
    font-size: small;
}